header {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 2px 2px 2px #444;
  background-color: #fff;
}

.header-logo {
  width: 70px;
  height: 80px;
  margin: 10px 10%;
  margin-right: 5px;
}

.header-title {
  font-style: italic;
  letter-spacing: 3px;
  text-shadow: 0 0 1px red;
}

code {
  background-color: red;
  padding: 10px;
  margin: 5px;
  border: 1px solid blue;
  border-radius: 12px 0 12px 0;
  box-shadow: 0 0 10px red;
  align-items: center;
}
