.proposals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.proposals-container img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px #000;
  object-fit: cover;
  object-position: center;
}

.proposals-container .proposals-span {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.3);
}

.proposals-container:hover {
  box-shadow: 0 0 10px #000;
}

@media (max-width: 668px) {
  .proposals-container {
    display: none;
  }
}
